<html>
	{%extends 'myApp/parent.html'%}
	{%block title_block%}
	<h2>Preethi's Blog</h2>
	{%endblock%}
	<body>
		{%block content_block%}
		<h1 style="background-color:#0362fc;"><em><b>Preethi's Home Blog</b></em></h1>
		{%for post in post_list%}
		<a href="{{post.get_absolute_url}}"><h2><b>{{post.title}}</b></h2></a>
		<i><b>Published on {{post.publish}} by {{post.author|title}}</b></i>
		{{post.body|truncatewords:50|linebreaks}}
		{%endfor%}
		{%include 'myApp/pagination.html' with page=post_list%}
		{%endblock%}
	</body>
</html>